.gallery__title {
  margin-bottom: 18px;
}

.image-gallery {
  width: 340px;
}

.image-gallery-slide img {
  border-radius: 8px;
}

.image-gallery-thumbnail-image {
  border-radius: 4px;
}

.image-gallery-fullscreen-button .image-gallery-svg,
.image-gallery-play-button .image-gallery-svg {
  display: none;
}
