.invitation__title {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: xx-large;
}

.invitation__content {
  line-height: 1.9;
  font-size: x-large;
}

.invitation__couple {
  margin-top: 28px;
  font-size: x-large;
  font-weight: bold;
}

.invitation__divider {
  margin: 0 10px;
}

.invitation__family {
  margin: 20px 0;
}

.invitation__child {
  font-weight: bold;
}

.invitation__btn-contact {
  cursor: pointer;
  background-color: rgb(246, 210, 216);
  border: 1px solid rgb(246, 210, 216);
  border-radius: 5px;
  padding: 8px 20px;
  font-size: large;
  font-family: 'GangwonEdu';
  color: rgb(95, 25, 25);
}
